<%= stylesheet_link_tag 'welcome' %>


<h2>Your product auction</h2>
<div class="vertical-center">
<div class="d-flex flex-wrap">
  <% @product.each do |p| %>
  <div class="card-deck" style="width: 25rem;">
    <div class="card">
      <%= image_tag get_random_image, class:"card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= p.name%></h5>
        <p class="card-text"><%= p.original_price%></p>
        <p class="card-text">Selling price: $<%= p.current_price %></p>
        <p class="card-text"><%= p.description%></p>
        <a href="/products/<%= p.id%>" class="btn btn-primary">View <%= p.name %></a>
      </div>
      <div class="card-footer">
        <small class="text-muted"><b>Posted at:<%= time_ago_in_words(p.updated_at) %></small>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div>