<!DOCTYPE html>
<html>
  <head>
    <title>Auction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap link -->
    
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Auction</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/products">Your Auction</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
        <div class="product_search form-group form-inline my-2 my-lg-0">
           <%= form_for :products, url: search_path, method: :get, remote: true do |f| %>
             <%= f.text_field :search, list: "list", placeholder: "search products", name: "search", class: "form-control" %>
             <datalist id="list"></datalist>
           <% end -%>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        </div>
<% if current_user %>
  Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/sign_out' %>
<% else %>
  <%= link_to 'Login', '/sign_in' %> | <%= link_to 'Signup', '/sign_up' %>
<% end %><br><br>

    <%= yield %>

<script>
  $(".alert").delay(1000).fadeOut('slow');

  $(document).on('turbolinks:load', function(){
    $("#products_search").keyup(function(){
      console.log("products_search")      
      autocomplete()      
    });

    function autocomplete(){
      $.ajax({
        url: '/products/ajax_search',
        type: 'GET',
        data: {search: $("#products_search").val()},
  //takes the form data and authenticity toke and converts it into a standard URL
        dataType: 'json', //specify what type of data you're expecting back from the servers
        error: function() {
            console.log("Something went wrong");
        },
        success: function(data) {
          console.log(data)
          document.querySelector('#list').innerHTML = ""
          data.autofill.forEach(function(element) {
            var option = document.createElement("option");
            option.value = element;
            //append option to list
            $("#list").append(option);
          });
        }
      });
    }
  });
</script>

  </body>
</html>
